<div class="container">
  <div *ngIf="posts$ | async as posts; else errorBlock">
    <h2>
      Below is a representation of 100 random posts in a square view. Click on
      the title to toggle with ID :)
    </h2>

    <div class="board">
      <app-square
        *ngFor="let post of posts"
        [id]="post.id"
        [title]="post.title"
      ></app-square>
    </div>
  </div>

  <ng-template #errorBlock>
    <h2 class="generic_error">
      Sorry. It's not you. It is us. Please reload the page or try again later!
    </h2>
  </ng-template>
</div>
